VITE_GRAPHQL_URL=http://localhost:8090/graphql
VITE_IAM_URL=http://localhost:8081
VITE_TENANT_ID=default
VITE_GATEWAY_URL=http://localhost:8090

# Hasura GraphQL
VITE_HASURA_URL=http://localhost:19109/v1/graphql
VITE_HASURA_WS_URL=ws://localhost:19109/v1/graphql
